/* fonts */
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap');

* {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
    --brue: #6fb8c1;
}
/* グローバル */
html,body{
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-image: url(../assets/server_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* 参加ボタン共通デザイン */
.join_button{
    background-color: var(--brue);
    padding: 1em 2em;
    display: block;
    margin: 10px auto;
    font-size: 20px;
    color: #fff;
    border: var(--brue) 5px solid;
    box-shadow: #6c9aa5 7px 7px 0 0;
    transition: all 0.1s;
}
.join_button:hover{
    background-color: #fff;
    box-shadow: var(--brue) 7px 7px 0 0;
    color: #000;
}
.join_button.clicked {
    background-color: #f7e3e9;
}
/* セクションタイトル系共通表示 */
h2{
    font-size: 2em;
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    background-color: #e6dade;
    padding: 0.5em 1em;
    border: #e099ae solid 5px;
    box-shadow: #e0a3b6 7px 7px 0 0;
    word-break: keep-all;
}


/* 改装中表示 */
header{
    position: fixed;
    width: 100svw;
    text-align: center;
    background-color: #ffeaea;
}
header p{
    text-align: center;
    color: #ff0000;
}

/* トップの要素 */
#top{
    background-color: #000000aa;
    height: 90vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#top div{
    height: fit-content;
    width: 90vw;
    min-width: 320px;
    margin: auto;
    text-align: center;
}
#top h1{
    color: #fff;
    font-size: 4rem;
    margin: 0;
    word-break: keep-all;
}
#top p{
    color: #ddd;
    font-size: 1.5rem;
}
#top a{
    text-align: center;
}
#top img{
    height: 45px;
    width: 80px;
    margin: 0 auto 20px auto;
    animation: float 1.5s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* 上に5px移動 */
    }
}

/* おすすめポイント類 */
#features{
    background-color: #00000033;
    margin: 0;
    padding: 5vh 0;
}
#features ul{
    width: 90vw;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    counter-reset: feature-counter;
}
#features li{
    counter-increment: feature-counter;
    height: fit-content;
    min-height: 20em;
    list-style-type: none;
    background-color: #fff;
    margin: 5vh 0;
    padding: 1em 2em;
    text-align: center;
    
    border: var(--brue) 5px solid;
    box-shadow: #6c9aa5 7px 7px 0 0;
}
#features li::before {
    content: counter(feature-counter);
    font-size: 2em;
    color: var(--brue);
}
#features li h3{
    font-size: 1.9em;
}
#features li img{
    width: 100%;
    margin: 0 0 2em 0;
}
#features p{
    font-size: 1.2em;
}
#features strong{
    color: #037692;
}

#news{
    padding: 0 0 5vh 0;
    background-color: #00000033;
}
#news div{
    width: 90vw;
    max-width: 600px;
    height: fit-content;
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin;
    background-color: #fff;
    margin: 5vh auto;
    padding: 1em;
    text-align: center;
    border: var(--brue) 5px solid;
    box-shadow: #6c9aa5 7px 7px 0 0;
}

#server-info{
    padding: 0 0 2vh 0;
    background-color: #00000033;
}
#server-info div{
    width: 90vw;
    max-width: 600px;
    background-color: #fff;
    margin: 5vh auto;
    padding: 1em;
    text-align: center;
    border: var(--brue) 5px solid;
    box-shadow: #6c9aa5 7px 7px 0 0;
}
#server-info div span{
    font-size: 2em;
    color: #6c9aa5;
}

#bots{
    padding: 5vh 0 5vh 0;
    background-color: #00000055;
}
#bots p{
    text-align: center;
    color: #fff;
    font-size: 1.5em;
}
#bots ul{
    padding: 0;
    margin: 0 5vw;
    list-style: none;
    display: grid;
    gap: 1em;
    overflow-x: scroll;
    scrollbar-width: none;

    display: grid;
    grid-template-rows: repeat(2, auto); /* 縦に2行 */
    grid-auto-flow: column; /* 横方向にアイテムを配置 */
}
#bots li{
    display: block;
    width: 400px;
    background-color: #fff;
    padding: 1em 2em;
    border: var(--brue) 5px solid;
    box-shadow: #6c9aa5 7px 7px 0 0;
}
#bots li h3{
    font-size: 1.5em;
}
#bots li p{
    color: #000;
    font-size: 1em;
    text-align: left;
}
#bots li a{
    display: block;
    padding: 1em;
    margin: 1em 0;
    background-color: var(--brue);
    color: #fff;
    text-decoration: none;
    border: var(--brue) 5px solid;
    box-shadow: #6c9aa5 7px 7px 0 0;
}
#bots li a:hover{
    background-color: #fff;
    color: #000;
}
.bots_sakurabot{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

#rules{
    padding: 5vh 0 5vh 0;
    background-color: #00000033;
}
#rules ul{
    padding: 1em 2em;
    margin: 5vh auto;
    width: 90vw;
    max-width: 600px;
    background-color: #fff;
    list-style: none;
    border: var(--brue) 5px solid;
    box-shadow: #6c9aa5 7px 7px 0 0;
    height: 500px;
    overflow-y: scroll;
}
#rules h3{
    color: #037692;
}
#rules strong{
    font-size: 1.2em;
}

#admin{
    padding: 5vh 0 5vh 0;
    background-color: #00000033;
}
#admin ul{
    list-style: none;
    margin: 1em 2em;
    padding: 0;
    display: flex;
    gap: 2em;
    overflow-x: scroll;
    scrollbar-width: none;
}
#admin li{
    background-color: #fff;
    padding: 1em 2em;
    border: var(--brue) 5px solid;
    box-shadow: #6c9aa5 7px 7px 0 0;
    width: calc(100px + 12em);
    min-width: calc(100px + 12em);
}
#admin ul li div{
    display: grid;
    grid-template-columns: 130px 1fr;
}
#admin img{
    height: 100px;
    grid-column: 1 /2;
    grid-row: 1 / 3;
    
    border: #e099ae 5px solid;
    box-shadow: #e0a3b6 5px 5px 0 0;
}
#admin div.admin_tags{
    display: flex;
}
#admin small{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #f7e3e9;
    padding: 0.5em 1em;
    margin: 1.5em 0.5em 0 0;
}
#admin h3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.5em;
    margin: 0.5em 0;
}

#sns{
    padding: 5vh 0 5vh 0;
    background-color: #00000033;
}
#sns ul{
    padding: 0;
    margin: 1em 2em;
    list-style: none;
    max-height: 1000px;
}
#sns li.sns_x{
    width: 90vw;
    max-width: 700px;
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin;
    margin: 0 auto;
}

#contact{
    padding: 5vh 0 5vh 0;
}
#contact form{
    background-color: #fff;
    width: 90vw;
    padding: 1em 2em;
    max-width: 600px;
    margin: 2em auto;
    border: var(--brue) 5px solid;
    box-shadow: #6c9aa5 7px 7px 0 0;
    display: flex;
    flex-direction: column;
}
#contact input,textarea{
    border: #e099ae 5px solid;
    box-shadow: #e0a3b6 5px 5px 0 0;
    width: 90%;
    margin: 1em auto;
    padding: 1em;
}
#contact button{
    background-color: #e099ae;
    color: #fff;
    border: #e099ae 5px solid;
    box-shadow: #e0a3b6 5px 5px 0 0;
    padding: 1em auto;
}

footer p{
    text-align: center;
}
